@charset "utf-8";
*{margin: 0;padding: 0;}
*html #container { height: 100%;}
html {height:100%; font-size:12px; color:#555555; line-height:150%; font-family: 돋움,Dotum, AppleGothic, sans-serif; background-color:#e7e7e7;}
body {height: 100%; font-size:12px; color:#555555; line-height:150%; font-family: 돋움,Dotum, AppleGothic, sans-serif; background-color:#e7e7e7;}

ul{float:left; list-style-type:none;}
li{float:left; list-style-type:none;}
img{border:0;}

/* Grid Basic */
.grid-basic {width:100%; margin-bottom:20px; border-collapse:collapse; border-spacing:0;}
.grid-basic td .hdrcell {height:24px; padding-top:6px; text-align:center; vertical-align:middle; font-family:"굴림","gulim"; font-weight:bold; background:url(/images/board/table_bg.gif) repeat-x; border-top:2px solid #cccccc;}
.grid-basic td {min-height:27px; font-family:"굴림","gulim"; color:#444444; border-bottom:1px solid #e5e5e5; background:none;}
.grid-basic .left {padding:0 20px; text-align:left;}
.dhx_combo_select{font-size:12px; background-color:#fff; overflow:hidden;cursor:default;position:absolute;height:auto;z-index:600;}

/* validation label color 변경*/
label.error{color:red;}